.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form input {
  width: 50%;
  border: 0;
  border-bottom: 1px solid #ffffff;
  margin: 0 auto 1rem auto;
  color: #ffffff;
  background-color: transparent;
}

.contact-form textarea {
  width: 50%;
  border: 0;
  border-bottom: 1px solid #ffffff;
  margin: 0 auto 1rem auto;
  color: #ffffff;
  background-color: transparent;
}

@media (max-width: 360px) {
  .contact-form textarea,
  .contact-form input {
    width: 100%;
  }
}