.contact-form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.contact-form input {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #ffffff;
  margin: 0 auto 1rem auto;
  color: #ffffff;
  background-color: transparent;
}

.contact-form textarea {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #ffffff;
  margin: 0 auto 1rem auto;
  color: #ffffff;
  background-color: transparent;
}