.page {
  min-height: 100vh;
  height: auto;
  margin: 0 0 3rem 0;
  padding: 0;
}

.page-title {
  text-align: center;
  color: #ffffff;
  margin-top: 2rem;
}

.disclaimer {
  text-align: center;
}

.article {
  margin-bottom: 3rem;
}

.article-image {
  margin-top: 3rem;
}

.article-title {
  margin: 2rem 2rem 0 2rem;
  color: #ededed;  
}

.article-content h1 {
  margin: 0 2rem 1rem 2rem;
  color: #ededed;
}

.article-content p {
  margin: 1rem 2rem 2rem 2rem;
  color: #ededed;
}