.page {
  height: 100%;
  margin: 0;
  padding: 0;
}

.page-title {
  text-align: center;
  color: #ffffff;
  margin-top: 2rem;
}

.container {
  width: 50%;
}

@media (max-width: 630px) {
  .container {
    width: 80%;
  } 
}