.main-header-container {
  position: absolute;
  top: 0;
  left: auto;
  right: auto;
  height: 90vh;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  z-index: 5;
  padding: 0;
  margin: 0;
}

.particle-container {
  width: 100%;
}

.name {
  /* font-size: 8vw; */
  font-weight: bold;
  z-index: 8;
  /* text-shadow: 0.5px 1px 6px #737373; */
}

.title {
  /* font-size: 3vw; */
  z-index: 8;
}

.button {
  border: 2px solid orange;
  margin-top: 1rem;
  padding: 0.5rem 2rem;
  border-radius: 1rem;
  background-color: orange;
  color: white;
}

.button:hover {
  background-color: transparent;
  color: orange;
}