html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #02353c;
}

#__next {
  /* display: flex;
  flex-direction: column; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: Roboto, sans-serif;
}

.card {
  background-color: #f0f0f0;
}