html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #02353c;
}

#__next {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Roboto, sans-serif;
}

.h4,
.h5,
.h6 {
  color: #ffffff;  
}

.card {
  background-color: rgba(0, 0, 0, .57);
}

p {
  color: #ffffff;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}